<!DOCTYPE html>
<html lang="en">
  <!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
  <!-- ////////////////////////////  head /////////////////////////// -->

<body>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  <%- include('partials/headerNavbar') %>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  
  <!--  carrusel -->
  <%- include('partials/carrusel') %>
  <!--  carrusel -->
  
  
  <!-- //////////////////////////////  photo-category ///////////////////// -->
  
  <div class="container margin-top-element">
    <div class="row justify-content-around ">
      
      <div class="col-md-3 col-sm-12">
        <a href="#">
          <img src="/images/photo-category-1.jpg" alt="" class="img-fluid bx-shadow">
        </a>
      </div>
      
      
      <div class="col-md-3 col-sm-12 ">
        <a href="#">
          <img src="/images/photo-category-2.jpg" alt="" class="img-fluid bx-shadow">
          
        </a>
      </div>
      
      <div class="col-md-3 col-sm-12">
        <a href="#">
          <img src="/images/photo-category-3.jpg" alt="" class="img-fluid bx-shadow">
        </a>
      </div>
      
    </div>
    
  </div>
  <!-- //////////////////////////////  photo-category ///////////////////// -->

  <!-- ////////////////  Instagram photos //////////////////////////// -->
  
  <div class="row justify-content-center margin-top-element f-size top-line insta-info">
    <p class="insta-info"> Instagram @FormelARG </p>
  </div>
  
  
  <div class="container-fluid margin-top-element">
    <div class="row justify-content-center photo-category">
      
      <div class="col-md-3 col-sm-12">
        <a href="#" >
          <img src="/images/products/conjunto-gris.jpg" alt="" class="img-fluid bx-shadow ">
        </a>
      </div>
      
      
      <div class="col-md-3 col-sm-12 ">
        <a href="#">
          <img src="/images/products/conjunto-gris.jpg" alt="" class="img-fluid bx-shadow">
          
        </a>
      </div>
      
      <div class="col-md-3 col-sm-12">
        <a href="#">
          <img src="/images/products/conjunto-gris.jpg" alt="" class="img-fluid bx-shadow">
        </a>
      </div>
    </div>
  </div>
  <!-- ////////////////  Instagram photos //////////////////////////// -->


  <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
  <%- include('partials/pay-send-return') %>
  <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 

    
  <!-- //////// footer ////////////////// -->
  <%- include('partials/footer') %>
   <!-- //////// footer ////////////////// -->

  
  <!-- scripts -->    
  <script src="scripts/jquery-3.5.1.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
</body>

</html>
