
<!DOCTYPE html>
<%- include('partials/head') %>
<body>
    <h1>DETALLE DE PRODUCTO - AGUSTIN GAUTO</h1>

<p><%= productId.price %></p>
<p><%= productId.name %></p>
<p><%= productId.size %></p>
<p><%= productId.description %></p>
<p><%= productId.color %></p>
</body>
</html>

