
<!DOCTYPE html>
<%- include('partials/head') %>
<body>
    <h1>DETALLE DE PRODUCTO - AGUSTIN GAUTO</h1>
<% productId.forEach(product =>{ %>
    <p>Nombre producto : <%= product.name %></p>
    <p>Precio : <%= product.price %></p>
    <p>Talle : <%= product.size %></p>
    <p>Descripcion : <%= product.description %></p>
    <p>Color : <%= product.color %></p>

</body>
</html>

<a href="/products/<%= product.id%>/edit" class="btn btn-secondary">Editar producto</a>

<form action="/products/<%= product.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary">Eliminar producto</button>
</form>
<% }) %>