<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<body>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  <%- include('partials/headerNavbar') %>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <% if(typeof errors != 'undefined'){ %>
          <% errors.forEach(error =>{ %>
            <p style="color: red;"><%= error.msg %></p>
            <% }) %>
            <% } %>
        <form action="/products" method="POST" enctype="multipart/form-data" id="form_products">
          <style>
            .error{
              color: red;
            }
          </style>
          <div class="form-group">
            <label for="name">Nombre producto</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="nombre del producto">
            <span id="product_name" class="hideSpan error">El nombre del producto es requerido</span>
          </div>
          
          <label for="category">Categoría</label>
          <select class="form-control" name="category_id">
            <% locals.categorys.forEach(cat => { %>
              <option value="<%= cat.id %>"><%= cat.name %></option>
              <% }) %>
          </select>         
          
          <label for="category">Color</label>
          <select class="form-control" name="colors_id">
            <% locals.colors.forEach(color => { %>
              <option value="<%= color.id %>"><%= color.name %></option>
              <% }) %>
          </select> 

          <label for="category">Talle</label>
          <select class="form-control" name="sizes_id">
            <% locals.sizes.forEach(size => { %>
              <option value="<%= size.id %>"><%= size.name %></option>
              <% }) %>
          </select> 
                   
          <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="ej: 1200">
            <span id="price" class="hideSpan error">El precio del producto es requerido</span>
          </div>      
                
          <div class="form-group">
            <label for="price">Cantidad</label>
            <input type="number"  min="1" class="form-control" id="stock" name="stock">
            <span id="stock" class="hideSpan error">Debe ingresar la cantidad del producto</span>
          </div>      
                
         
          
          <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            <span id="description" class="hideSpan error">La descripción es requerida. Debe tener un máximo de 255 caracteres</span>
          </div>
          
          <div class="form-group">
            <label for="image">Imagen producto</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*"> 
            <span id="image" class="hideSpan error">Debe subir una imagen </span>
          </div>
          
          <button type="submit" class="btn btn-secondary btn-lg btn-block mb-3" id="submit">Cargar producto</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.1/validator.min.js" integrity="sha512-rVYlbsnsxljzvf4sgKzI6ncbNKKxupFhoQ/9ptW7R5fhKE9wQevsfUAZEbJ6xl+VyaiGm3lAKChPLoV/VuaZJA==" crossorigin="anonymous"></script>
  <script src="/scripts/loadProductValidation.js"></script>
  <script src="/scripts/jquery-3.5.1.min.js"></script>
  <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>

